:root {
  --menu-item-background: rgba(200,200,200 ,1 );
  --menu-item-background-hover: rgba(125,125,125 ,1);
  --menu-item-background-click: rgba(100,100,100 ,1);
  --menu-item-text-click: rgba(225,225,225 ,1);
  --menu-item-background-active: rgba(150,150,150 ,1);
  --loading-distractor-background: rgba(105,105,105 ,0.5);
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

#root {
  display: grid;
  grid-template-columns: 12rem minmax(20rem, 1fr);
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu__item {
  padding: 1rem;
  background-color: var(--menu-item-background-color);
  cursor: pointer;
}

.menu__item:hover {
  background-color: var(--menu-item-background-hover);
}

.menu__item:active {
  background-color: var(--menu-item-background-click);
  color: var(--menu-item-text-click);
}

.menu__item--active {
  background-color: var(--menu-item-background-active);
}

.loading-distractor {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 3rem;
  text-align: center;
  padding-top: 10%;
  background-color: var(--loading-distractor-background);
}
.loading-distractor > span {
  animation: pulse 2s ease;
  animation-iteration-count: infinite;
}
.loading-distractor--active { display: block; }
@keyframes pulse {
  0% { transform: scale(0.1, 0.1); opacity: 0.0; }
  50% { opacity: 1.0; }
  100% { transform: scale(1.2, 1.2); opacity: 0.0; }
}
